@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

html
  padding: 0
  margin: 0

body
  font-family 'Noto Serif KR', serif, Nanum Gothic, Malgun Gothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  padding 0
  margin 0
  line-height 160%

.container
  width 1200px
  margin 0 auto

.site
  &Header
    height 80px
    line-height 80px
    border-bottom 1px solid #ddd
    
    .container
      position relative

  &Logo
    vertical-align middle
    display inline-block
    text-decoration none
    color #000
    line-height 130%
    text-align center

    figure
      display inline-block
      vertical-align middle
      width 50px
      height 50px
      border-radius 50px
      overflow hidden
      margin 0

      img
        width 100%
        height 100%
        object-fit cover

    div
      display inline-block
      vertical-align middle

      strong
        display block
        font-size 17px
      
      em
        display block
        font-size 13px
        font-style normal
        color #666

  &Footer
    background #242729
    padding 20px 0
    font-size 13px
    color #848d95

    p
      margin 0
    
    &Copyright
      text-transform uppercase
      color #bbc0c4
    
    &Contact
      padding-top 10px
      
      a
        color inherit
        text-decoration none
        text-transform none

.content
  padding 50px 0

.header-anchor
  text-decoration none
  color #09f
  margin-left -20px
  opacity 0
  transition opacity 0.3s
  
  [id]:hover > &
    opacity 1

.gnb
  position absolute
  right 0
  top 0
  bottom 0

  &::after
    content ""
    display block
    clear both
  
  a
    float left
    text-decoration none
    font-weight bold
    color inherit
    margin-left 20px
    
    &.router-link-exact-active span
      color #000
      
      &::before
        left 0
        right 0
  
  span
    display inline-block
    line-height 200%
    position relative
    color #aaa

    &::before
      content ""
      position absolute
      left 50%
      right 50%
      bottom 0
      height 2px
      background #09F
      transition-property left, right
      transition-duration 0.3s

        