.reveal * {
  text-align: left;
}

.reveal h1 {
  color: #025bfd;
}

.reveal h4 {
  font-size: 1.4em;
}

.reveal p {
  text-align: left;
}

.reveal ul {
  display: block;
}

.reveal ol {
  display: block;
}

.reveal li {
  line-height: 2;
}

.reveal a {
  color: #09F;
}

.reveal a:hover {
  color: #09F;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.reveal strong {
  color: #06F;
}

.reveal :not(.code-wrapper) > code {
  color: #ff3860;
  background: #f9f1f3;
  padding: 4px;
  border: 1px solid #ff3860;
  border-radius: 5px;
}

.reveal pre code {
  max-height: inherit;
}

.reveal .controls {
  bottom: 60px;
}

.reveal .slide-number {
  padding: 0;
  left: 1em;
  right: 1em;
  bottom: 1em;
  font-size: 0.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: right;
  background: none;
  color: var(--r-main-color)
}

.reveal .slide-number::before {
  content: "";
  display: block;
  width: 246px;
  height: 42px;
  background: url(assets/logo.png) no-repeat center / cover;
  position: absolute;
  left: 0;
  bottom: 0;
}

.reveal .slide-number::after {
  content: "ⓒ  NAVER Connect Foundation";
  display: block;
  position: absolute;
  font-size: 0.85em;
  left: calc(50% - 150px);
  width: 300px;
  text-align: center;
  bottom: 0;
  opacity: 0.5;
}