@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

only-pc()
  @media (min-width: 1200px)
    {block}

body
  font-family 'Noto Serif KR', serif, Nanum Gothic, Malgun Gothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';

em
  color #00a

.container
  +only-pc()
    width 1200px
    margin 0 auto

.navbar
  height auto !important


.home-link
  padding-left 3rem
  +only-pc()
    padding-left 0
  vertical-align middle
  display inline-block
  text-decoration none
  color #000
  line-height 130%
  text-align center
  figure
    display inline-block
    vertical-align middle
    width 50px
    height 50px
    border-radius 50px
    overflow hidden
    margin 0
    img
      width 100%
      height 100%
      object-fit cover
  div
    display inline-block
    vertical-align middle
    strong
      display block
      font-size 17px
    em
      display block
      font-size 13px
      font-style normal
      color #666

.siteFooter
  +only-pc()
    min-width 1200px
    padding 20px 0
  background #242729
  padding 20px
  font-size 13px
  color #848d95
  position relative
  z-index 30
  p
    margin 0
  &Copyright
    text-transform uppercase
    color #bbc0c4
    em
      color inherit
  &Contact
    padding-top 10px
    a
      color inherit
      text-decoration none
      text-transform none

{$contentClass}
  &.content__default
    padding 50px 20px 0
    width auto
    max-width inherit
    min-height 600px
    +only-pc()
      margin 0 280px

  code
    color #ff3860
    background #f9f1f3
    padding: 4px

  strong
    color #06F

  s
    color #aaa

  img
    // box-shadow 0 0 5px fade-out(#ddd, 0.3)
    border 1px solid #bebebe

  img[alt="uml diagram"]
    border none

  img[alt*="bn"]
    border none

  hr
    width 200px
    margin 40px auto 20px

    + p
      padding-top 20px

  .custom-block.tip {
    border-color: #09F
  }

.sidebar
  +only-pc()
    left 0
    border-right-style dotted
    width 240px
    padding-bottom 100px
    .sidebar-group-items > li > .sidebar-sub-headers
      padding-left 0
      position fixed
      top 100px
      right 0
      width 270px
      ul, li
        list-style none
      a
        font-size 13px

.example-frame
  border 1px solid #06F